html, body {
	background-color: white;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
}
#page {
	width: 100%;
}
.post-text {
	margin: 0;
}
#respond, #sidebar-pages, #sidebar {
	display: none;
	visibility: hidden;
}
.post-text a:link:after, .post-text a:visited:after { content:" [" attr(href) "] "; }
.post-text .post-meta a:link:after, .post-text .post-meta a:visited:after { content:""; }
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

.wp-caption {
   text-align: center;
   background-color: transparent;
   padding-top: 4px;
   margin: 10px;
   border: 1px solid gray;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
   color: #444;
}
