/*
Theme Name: wp-theme-schiessle.org
Theme URI: http://schiessle.org/
Author: Bjoern Schiessle
Author URI: http://www.schiessle.org
Tags: white, green, simple

Based on: The Fundamentals of Graphic Design
Theme URI: http://arjuna.deltoso.net/progetti/the-fundamentals-of-graphic-design-wordpress-theme-2/en/
Description: Simple but stylish theme inspired by the AVA book "<a href="http://www.avabooks.ch/index.php/ava/bookdetails/978-2-940373-82-6">The Fundamentals of Graphic Design</a>". MAIN FEATURES:<b> threaded comments, widgeted sidebar, theme configuration, hierachical categories, print style. To get the best from this theme remember to add a line or two as an excerpt for your posts. Author: <a href="http://arjuna.deltoso.net/">Arjuna</a>.
Version: 1.5
Author: Arjuna Del Toso
Author URI: http://arjuna.deltoso.net/
Tags: white, green, blue, fixed-width, one-column, light, theme-options, threaded-comments, custom-colors


	This theme was designed and built by Arjuna Del Toso,
	whose web site you will find at http://arjuna.deltoso.net/

	ATTENTION: To get the best from this theme be sure to write
	a line or two as an excerpt for your posts.

	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php

*/

@import url("https://www.schiessle.org/menu.css");

/* From Meyer's reset rules v1.0 | 20080212 */
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;*/
	vertical-align: baseline;
	background: transparent;
        max-width: 100%;
        height: auto;
}

body {
    margin: 0px;
    font-family: "DejaVu Sans", "Bitstream Vera Sans", Geneva, Verdana, sans-serif;
    /*font-size: 86%;*/
    font-size: 16px;
    line-height: 1.5;
    /*min-width: 500px;*/
    background-color: #f0f0f0;
}

#page {
    background-color: #fff;
 }



#footer {
    clear: both;
    text-align: center;
    margin: 0px;
    padding-top: 1px;
}

#footer a:hover.button {
	padding-bottom: 2px;
	border-bottom: none;
}

#footer .footer-image img{
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu a {
    color: #fff !important;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}


p.footer {
  background: #639829 url('images/cwfs-1.0.0-white-25-degree-180x121.png') bottom right no-repeat;
  color: #fff !important;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  /*color: white; */
  padding: 10px;
  margin: 0px;
  margin-top: 70px;
  text-align: center;
/*  font-size: 12px;*/
  font-size: 0.9em;
}

#footer a:link {
  background-color: #639829;
  color: white;
}

#footer a:visited {
  background-color: #639829;
  color: white;
}

#footer a:hover {
  border-bottom: 2px solid #fff;
 }


p.license {
  text-align: right;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
* End reset
*/
/* ********************************************* */
/*                                               */
/* Arjuna Del Toso :: http://arjuna.deltoso.net/ */
/*                                               */
/* ********************************************* */
/* Page End */

/* Header */
#header {
	color: #666;
	padding-top: 9px;
	padding-left: 5px;
	padding-bottom: 9px;
	background-color: #fff;
}
#header h1 {
	font-size: 22px;
	font-weight: 100;
	line-height: 36px;
	display: inline;
	font-family: 'URW Gothic L', Verdana, Helvetica, sans-serif;
}
#header h2 {
	font-weight: 100;
	padding-left: 25px;
	display: inline;
}
#header a {
	color: #000;
	text-decoration: none;
	border-bottom: 2px solid #fff;
}
#header a:hover, #header a:visited {
	border-bottom: 1px solid #fff;
}
/* Header End */

/* Sidebar */
#sidebar-pages {
	/*border-bottom: 1px solid #444;*/
	/*background-color: #000000;*/
}
#sidebar-pages ul li, #sidebar-pages ul {
	display: inline;
	float:left;
}
#sidebar-pages a {
	font-size: 11px;
	display: block;
	position: relative;
	width: 100px;
	height: 45px;
	padding-top: 7px;
	padding-left: 4px;
	border-right: 1px solid #444;
	font-family: 'URW Gothic L', Verdana, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: 900;
/*	border-bottom: 2px solid #000;*/
}
#sidebar-pages a:hover {
	background-color: #118DA6;
/*	border-bottom: 2px solid #000;*/
}
/* Sidebar End */

/* Posts */
#posts {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0px;
        padding-right: 5%;
        padding-left: 5%;
	word-wrap: break-word;

}
#posts h2.title-single {
	font-size: 3em;
	letter-spacing: 120%;
        text-align: center;
	font-family: Georgia,'Bitstream Charter', serif;
	font-weight: 100;
	color: #639829;
}

#posts h2.title {
        text-align: center;
}


#posts div.excerpt {
	margin-left: 95px;
	margin-right: 95px;
}
#posts h2.title a, #posts div.excerpt {
	font-size: 1.4em;
	line-height: 38px;
	letter-spacing: 120%;
	font-family: Georgia,'Bitstream Charter', serif;
	font-weight: 100;
	color: #666;
}
#posts h2.title a {
       font-size: 2em;
       line-height: 1.5em;
       color: #639829;
}
#posts h2.title a:hover {
	border-bottom: 1px dotted #639829;
}
#posts div.excerpt p {
	margin-bottom: 20px;
}
#posts div.excerpt p:before {
	content: "___";
	color: #8ca611;
}
.post {
	margin-top: 60px;
}
.post-text {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
	line-height: 150%;
	/*font-family: Helvetica, 'Nimbus Sans L', sans-serif;*/ /*TODO*/
	margin-bottom: 40px;
	padding-bottom: 20px;
        text-align: justify;
}
.post-text p {
	margin-bottom: 25px;
}
/* .post-text > p:first-child:first-line {
	font-weight: 600;
	background-color: #8ca611;
}*/
.post-meta {
	background-color: transparent;
	border-top: 2px solid #639829;
	margin-top: 20px;
	font-size: 80%;
	/*font-family: arial, garamond, sans-serif;*/
	padding: 8px 10px 8px 10px;
	color: #888;
}
.post-meta a {
	color: #118DA6;
}
.post-meta .meta-date {
    float: left;
}

.post-meta .meta-tags {
    float: right;
    text-align: initial;
}

.post-meta .meta-tags a {
    position:relative;
    font-size:11px;        
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 0 10px;
    display: inline-block;
    background:#639829;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;
    -moz-border-radius-topleft:10px;
    -webkit-border-top-left-radius:10px;
    border-top-left-radius:10px;
}

.post-meta .meta-tags a:hover {
    border-bottom: none;
}

.post-meta .meta-tags a:hover{background:#555;}

.post-meta .meta-tags a:hover:before{border-color:transparent #555 transparent transparent;}

.meta-comments {
    white-space: nowrap;
}

.post-meta .meta-comments a {
    color: #898989;
}

.post-meta .meta-comments a:hover {
    border-bottom: 1px dotted #898989;
}

#posts ol,#posts ul {
	padding: 5px 0px 15px 0px;
}

#posts li {
    padding: 5px;
}


#posts blockquote {
        padding: 0 10px 0 20px;
        margin: 25px 0 25px 25px;
        border-left: 5px solid #C7C7C7;
}
#posts ol {
	list-style: lower-roman;
}
#posts ul {
	list-style: square;
        padding-left: 20px;
}
q {
	quotes: "«" "»" "'" "'";
}
.post-text form p {
	padding-bottom: 10px;
}
.post-text input[name="post_password"] {
	margin-bottom: 10px;
}
.post-text input[type="submit"], .post-text input.button, .post-text input.file, #searchform input[type="submit"] {
	margin-bottom: 10px;
	color: white;
	background-color: #118DA6;
	border-color: #118DA6;
	font-size: 12px;
}

.post-text h1, .post-text h2,.post-text h3, .post-text h4, .post-text h5, .post-text h6 {
	font-family: Helvetica, 'Nimbus Sans L', sans-serif;
      	font-size: 1.8em;
        line-height: 1.3em;
        font-weight: normal;
	margin: 50px 0 25px 10px;
	color: #639829;
}
.post-text dl {
	padding: 5px 50px;
}
.post-text dl dt {
	font-weight: bold;
	font-size: small;
	letter-spacing: 1px;
	padding-bottom: 1px;
}
.post-text dl dd {
	padding-bottom: 3px;
	font-style: italic;
}
.post-text dl dd:before {
	content: "» ";
}
.post-text ol ol, .post-text ul ul {
	margin-left: 30px;
        style: square;
}
.post-text table {

}
.post-text table th {
	padding: 5px;
	border-bottom: 3px solid #fff;
}
.post-text table tr td  {
padding: 3px;
	border: 1px solid #fff;
}
#searchform input[type="text"] {
	margin-bottom: 3px;
	font-size: 16px;
}
#sidebar #searchform input[type="text"] {
	width: 150px;
}
#searchform label {
	display: none;
	visibility: hidden;
}
/* Posts End */

.header-image {
    width: 1014px;
}

/* Sidebar Main */
#sidebar {
        display: none;
	color: #666;
	font-size: 12px;
	border-top: 1px solid #8ca611;
	margin-top: 40px;
	padding: 25px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
}
#sidebar h4 {
	color: #8ca611;
	padding-bottom: 5px;
}
#sidebar h2 {
	display: none;
	visibility: hidden;
}
#sidebar .widget {
	margin-bottom: 15px;
}
#first, #second, #third, #fourth {
	padding-left: 5px;
	width: 195px;
	float: left;
}
#second {
	padding-left: 10px;
}
#third {
	padding-left: 15px;
}
#fourth {
	padding-left: 15px;
}
#sidebar acronym, #sidebar abbr {
	border-bottom: 0;
}
#sidebar ul.children li, #sidebar li#pages ul ul li {
	list-style:none;
	padding-left:15px;
	background:url(images/subcategory_icon.png) no-repeat top left;
}
#sidebar #feed h4 {
	padding-left:20px;
	background:url(images/rss.png) no-repeat top left;
}
#sidebar #links h4 {
	padding-left:20px;
	background:url(images/layout_link.png) no-repeat top left;
}
#sidebar #categories h4, #sidebar .widget_categories h4 {
	padding-left:20px;
	background:url(images/layers.png) no-repeat top left;
}
#sidebar #search_in_sidebar h4 {
	padding-left:20px;
	background:url(images/magnifier.png) no-repeat top left;
}
#sidebar #meta h4 {
	padding-left:20px;
	background:url(images/information.png) no-repeat top left;
}
#sidebar #archives h4 {
	padding-left:20px;
	background:url(images/folder.png) no-repeat top left;
}
#sidebar #recent-posts h4 {
	padding-left:20px;
	background:url(images/recent_posts.png) no-repeat top left;
}
#sidebar #calendar h4 {
	padding-left:20px;
	background:url(images/calendar.png) no-repeat top left;
}
#sidebar #calendar #wp-calendar td {
	padding: 1.5px;
}
#sidebar .widget_links h4 {
	padding-left:20px;
	background:url(images/link.png) no-repeat top left;
}
#sidebar #tag_cloud h4 {
	padding-left:20px;
	background:url(images/tag_green.png) no-repeat top left;
}
#sidebar #recent-comments h4 {
	padding-left:20px;
	background:url(images/user_comment.png) no-repeat top left;
}
#sidebar #pages h4 {
	padding-left:20px;
	background:url(images/page.png) no-repeat top left;
}
#sidebar .widget_text h4 {
	padding-left:20px;
	background:url(images/text_dropcaps.png) no-repeat top left;
}
/* Sidebar Categories End */

#credits {
	float: right;
	font-size: 10px;
	color: #888;
	text-align: right;
	line-height: 14px;
	margin-top: 10px;
}

/* Page & Archives */
.current_page_item {
	/*background-color: #CDEB8B;*/
}
#kindofarchive, .text-feedback {
	padding-left: 95px;
	padding-right: 95px;
	font-family: Georgia,'Bitstream Charter', serif;
	font-weight: 200;
	color: #666;
}
#navlinks {
	padding-left: 95px;
	padding-right: 95px;
}
#navlinks a {
	float: left;
}
#navlinks a + a {
	float: right;
}
/* Page End */
/* Comments */
#comments {
	padding-left: 105px;
	padding-right: 105px;
}
h3#comments {
	margin-bottom: 25px;
	font-family: Georgia,'Bitstream Charter', serif;
	font-weight: 200;
	color: #666;
	line-height: 150%;
	padding-left: 125px;
	background-image:url(images/comments.png);
	background-repeat: no-repeat;
	background-position: 105px 2px;
}
ol.commentlist {
	font-size: 16px;
	font-family: arial, garamond, sans-serif;
	margin-left: 95px;
	margin-right: 95px;
}
ol.commentlist li {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 25px;
	border-top: 1px solid #639829;
	list-style-type: decimal-leading-zero;
}
.reply {
	padding: 10px 105px 15px 210px;
}
.says {
	display: none;
	visibility: hidden;
}
.nocomments {
	padding: 20px 105px 20px 105px;
}
.fn {
	font-weight: 500;
	font-style: normal;
	padding-left: 3px;
}
li.comment p {
	padding-top: 12px;
}
.comment-meta {
	margin-top: -22px;
	text-align: right;
	font-style: italic;
	font-size: 12px;
	padding-bottom: 5px;
}
.comment-author {
	font-size: 16px;
	border-bottom: 1px solid #bbb;
	font-family: Georgia,'Bitstream Charter', serif;
}
#respond {
	font-family: Georgia,'Bitstream Charter', serif;
	/*background-color: #CDEB8B;*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 105px;
	padding-right: 105px;
}
#comment {
	width:620px;
        max-width: 100%;
}
#submit {
	color: white;
	background-color: #639829;
	border: 0px;
	float: right;
        padding: 2px 10px;
        margin-top: 20px;
        cursor: pointer;
        font-size: 14px;
}

#submit:ahover {
    background-color: #555;
}

.leaveareply {
	margin-bottom: 25px;
	font-weight: 200;
	font-size: 120%;
	letter-spacing: 2px;
	color: #666;
}
#commentform p {
    margin-bottom: 10px;
    width: 620px;
    max-width: 100%;
}
#commentform p small {
	padding-left: 15px;
}
.reply {
	padding-left: 0;
}
#commentform {
	margin-top: 10px;
}
ol.commentlist ul.children {
	border: 1px dashed #aaa;
}
ol.commentlist ul.children li {
	list-style-type: none;
	border-top: 0;
}
/* Comments End */

/* General rules */
li {
    line-height: 160%;
}
a {
	color: #118DA6;
	text-decoration: none;
}
a:visited {
	color: #118DA6;
	text-decoration: none;
}
a:hover {
	padding-bottom: 0px;
	border-bottom: 1px dotted #118DA6;
}
#sidebar-pages a:hover {
	border-bottom: 1px solid #000000;
}
.clear {
	clear: both;
	display: block;
}
ins {
	font-style: italic;
}
acronym, abbr {
  border-bottom: 0.071em dotted black;
}
code, pre {
	font-family: "Courier New", Courier, monospace;
}
pre {
	line-height: 1.1em;
	border: dashed #aaa 0.071em;
	padding: 1.071em 1.428em 1.071em 1.428em;
	overflow: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: #fff;
	width: 600px;
}
small {
	font-size: small;
}
sub {
	font-size: 10px;
}
sup {
	font-size: 10px;
}
/* General rules end */

/* Images */
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 15px;
   padding-bottom: 15px;
}

.alignleft {
   float: left;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 20px;
}

.alignright {
   float: right;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
}

.wp-caption {
   text-align: center;
   background-color: transparent;
   padding-top: 4px;
   margin: 10px;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
	color: #444;
}
/* Images End */


/*Responsive Styles*/

@media screen and (max-width : 760px){

    p.footer {
        background: #639829;
    }

    p.footer .footer-image {
        display: none;
    }

    #posts h2.title a {
        font-size: 1.8em;
    }

    #posts h2.title-single {
        font-size: 2.5em;
    }

    ol.commentlist {
	font-size: 16px;
	font-family: arial, garamond, sans-serif;
	margin-left: 0px;
	margin-right: 0px;
    }

    #comments {
	padding-left: 0px;
	padding-right: 0px;
    }

    .comment-meta {
	margin-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #bbb;
    }
    .comment-author {
	border-bottom: 0px;
    }

    h3#comments {
	padding-left: 0px;
	background-image:none;
    }

    ol.commentlist li {
	list-style-type: none;
    }

    #respond {
	padding-left: 0px;
	padding-right: 0px;
    }
    
}
